/*

global.css

Global styles for sinsync.com

*/

h1 {
	padding-left: 5px;
	color: white;
}

h1 small{
	color: white;
}

.navbar {
	background-color: #f8904a;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #f8904a;
}

#top-block-hero, #top-block-nav {
	background-color: #f8904a;
}

#hero-logo {
	text-align: center;
}